name: CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: |
          docker build -f ./backend/Dockerfile.prod -t ${{ secrets.DOCKER_USERNAME }}/medusa-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/medusa-backend:latest

      - name: Build Frontend Image
        run: |
          docker build -f ./frontend/Dockerfile.prod -t ${{ secrets.DOCKER_USERNAME }}/nuxt-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/nuxt-frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.DO_DROPLET_IP }}
          username: root
          key: ${{ secrets.DO_DROPLET_SSH_KEY }}
          script: |
            cd /root/deploy

            docker compose pull
            docker compose down
            docker compose up -d
